.section {
    border-color: rgb(var(--venia-global-color-border));
    border-style: solid;
    border-width: 0 0 1px;
    margin: 0 1.5rem;
    padding: 1.5rem 0;
}

.vippsExpressButton {
    composes: section;
    align-items: center;
    display: grid;
    grid-area: cart;
    row-gap: 1.5rem;
    justify-items: center;
}

@media (min-width: 1024px) {
    .vippsExpressButton {
        border-bottom-width: 0;
    }
}
